*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.slide-container{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.left-side{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
}

.left-side > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: wheat;
}

.left-side h1{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-side{
    position: absolute;
    top: 0;
    left: 35%;
    height: 100%;
    width: 65%;
}

.right-side > div{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
 .action-buttons button{
    position: absolute;
    left: 35%;
    top: 50%;
}

.action-buttons .up-button{
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.action-buttons .down-button{
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button{
    padding: 15px;
    border-style: none;
    background-color: white;
    color: #aaa;
    cursor: pointer;
}

button:hover{
    background-color: #222;
}